<h1>STOOPID COUCHING</h1>
<%= @answer %>
<p></p>
<div>
  <img src="https://media.giphy.com/media/XeLcgh8gT8o0F5SQ8i/giphy.gif" class="gif2" alt="lol">
</div>
<p></p>
<%= link_to "Ask a new question", ask_path %>
