<h1>STOOPID COACHING</h1>
<p></p>
<div>
  <img src="https://media.giphy.com/media/vbxk7KdIbJuDe/giphy.gif" class="gif" alt="Ya dummy">
</div>
<h3>Ask your coach anything...</h3>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Say something to your coach!">
  <input type="submit" value="Ask!">
</form>
